<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/nav.css">
    <link rel="stylesheet" href="/static/styles/root.css">
    <link rel="stylesheet" href="/static/styles/projects.css">
    <link rel="stylesheet" href="/static/styles/slider.css">
    <link rel="stylesheet" href="/static/styles/components.css">
    <link rel="stylesheet" href="/static/styles/mobile.css">
    <link rel="stylesheet" href="/static/assets/icons/regular-icon-font-free/lineicons.css">
    <title>Projects we've been part of</title>
</head>
<body>
    <div class="marquee-container">
        <div class="marquee-row">
            <div class="marquee-card">
                <span class="lni lni-telephone-1"></span>
                <p>+254 7123 45678</p>
            </div>
            <div class="marquee-card">
                <span class="lni lni-envelope-1"></span>
                <p>hello@ororomaster.co.ke</p>
            </div>
            <div class="marquee-card">
                <span class="lni lni-whatsapp"></span>
                <p>Request a Free Site Visit</p>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <header class="header">
            <div class="logo">
                <h1><span>Ororo</span>Master</h1>
            </div>
            <nav class="navigation" id="sideNav">
                <a href="../index.html">Home</a>
                <a href="./about.html">About Us</a>
                <a href="./services.html">Services</a>
                <a href="./projects.html" class="active">Projects</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </nav>
            <button class="contact_button btn-primary">
                +254 7123 45678 
                <span class="lni lni-telephone-1"></span>
            </button>
            <span class="navOpen btn-primary lni lni-menu-hamburger-1" id="navOpen" onclick="openNav()"></span>
            <span class="navClose lni lni-xmark btn-primary" id="navClose" onclick="closeNav()"></span>
        </header>
        <div class="slider">
            <div class="slide_row">
                <div class="slide_content">
                    <h1>Our Projects</h1>
                    <!-- <p>End‑to‑end project delivery — design inputs, project management and materials supply across Kenya.</p> -->
                    <div class="button-container" style="display: none;">
                        <button class="btn-primary">
                            <span class="lni lni-whatsapp"></span>
                            Request Free site visit
                        </button>
                        <button class="btn-secondary">
                            Get a free quote
                        </button>
                    </div>

                    <div class="slider-actions">
                        <span class="slide-left lni lni-arrow-left"></span>
                        <span class="slide-right lni lni-arrow-left" style="transform: rotate(180deg);"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover" id="coverBg"></div>
    </div>

    <section class="services-section" id="featuredSection" style="display: grid;">
        <div class="service-alt-header">
            <div class="service-alt-header-col">
                <h4 class="badge">Featured Projects</h4>
                <h2>Our Remarkable Project Portfolio</h2>
            </div>
            <div class="service-alt-header-col">
                <p>Explore our extensive portfolio showcasing the breadth of our expertise, from iconic structures to sustainable solutions, all meticulously crafted to perfection.</p>
                <button class="btn-primary">View our projects <span class="lni lni-arrow-right"></span></button>
            </div>
        </div>
        <div class="showcase-container">
            <div class="showcase-box">
                <img src="/static/Images/proj 1.png" alt="">
                <div class="showcase-body">
                    <!-- <span class="service_icon lni lni-buildings-1"></span> -->
                    <h3> Nairobi Mixed‑Use Development</h3>
                        <p style="margin-bottom: 1rem;" class="badge">Delivered on time; energy‑efficient design.</p>
                    <p>Delivered a 3‑storey mixed‑use building with integrated solar water heating and rainwater harvesting. Completed on schedule with full commissioning.</p>
                    <a class="link" href="#">View full case Study <span class="lni lni-arrow-right"></span></a>
                </div>
            </div>
            <div class="showcase-box">
                <img src="/static/Images/proj 3.png" alt="">
                <!-- <img src="/static/Images/WhatsApp Image 2026-06-24 at 13.15.40 (1).jpeg" alt=""> -->
                <div class="showcase-body">
                    <!-- <span class="service_icon lni lni-buildings-1"></span> -->
                    <h3>Modern residential build, Nairobi</h3>
                        <p style="margin-bottom: 1rem;" class="badge">Delivered on time; energy‑efficient design.</p>
                    <p>Residential, commercial, industrial and institutional buildings; turnkey construction from foundations to finishes.</p>
                    <a class="link" href="#">View full case Study <span class="lni lni-arrow-right"></span></a>
                </div>
            </div>
            <div class="showcase-box">
                <img src="/static/Images/proj 2.png" alt="">
                <!-- <img src="/static/Images/WhatsApp Image 2026-06-24 at 13.15.40 (1).jpeg" alt=""> -->
                <div class="showcase-body">
                    <!-- <span class="service_icon lni lni-buildings-1"></span> -->
                    <h3>Modern residential build, Nairobi</h3>
                        <p style="margin-bottom: 1rem;" class="badge">Delivered on time; energy‑efficient design.</p>
                    <p>Residential, commercial, industrial and institutional buildings; turnkey construction from foundations to finishes.</p>
                    <a class="link" href="#">View full case Study <span class="lni lni-arrow-right"></span></a>
                </div>
            </div>
            <div class="showcase-box">
                <img src="/static/Images/proj 4.png" alt="">
                <div class="showcase-body">
                    <!-- <span class="service_icon lni lni-buildings-1"></span> -->
                    <h3>Modern residential build, Nairobi</h3>
                        <p style="margin-bottom: 1rem;" class="badge">Delivered on time; energy‑efficient design.</p>
                    <p>Residential, commercial, industrial and institutional buildings; turnkey construction from foundations to finishes.</p>
                    <a class="link" href="#">View full case Study <span class="lni lni-arrow-right"></span></a>
                </div>
            </div>
            <div class="showcase-box">
                <img src="/static/Images/proj 5.png" alt="">
                <!-- <img src="/static/Images/WhatsApp Image 2026-06-24 at 13.15.40 (1).jpeg" alt=""> -->
                <div class="showcase-body">
                    <!-- <span class="service_icon lni lni-buildings-1"></span> -->
                    <h3>Modern residential build, Nairobi</h3>
                        <p style="margin-bottom: 1rem;" class="badge">Delivered on time; energy‑efficient design.</p>
                    <p>Residential, commercial, industrial and institutional buildings; turnkey construction from foundations to finishes.</p>
                    <a class="link" href="#">View full case Study <span class="lni lni-arrow-right"></span></a>
                </div>
            </div>
            <div class="showcase-box">
                <img src="/static/Images/proj 6.png" alt="">
                <!-- <img src="/static/Images/WhatsApp Image 2026-06-24 at 13.15.40 (1).jpeg" alt=""> -->
                <div class="showcase-body">
                    <!-- <span class="service_icon lni lni-buildings-1"></span> -->
                    <h3>Modern residential build, Nairobi</h3>
                        <p style="margin-bottom: 1rem;" class="badge">Delivered on time; energy‑efficient design.</p>
                    <p>Residential, commercial, industrial and institutional buildings; turnkey construction from foundations to finishes.</p>
                    <a class="link" href="#">View full case Study <span class="lni lni-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-top-1782760006">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-row"></div>
        <div class="footer-row">
            <div class="footer-col">
                <div class="logo"><h1><span>Ororo</span>Master</h1></div>
                <p>Trusted Kenyan Design‑and‑Build Contractors for Residential, Commercial and Civil Works Subhead: End‑to‑end project delivery — design inputs, project management and materials supply across Kenya.</p>
            </div>
            <div class="footer-col">
                <h3>Quick links</h3>
                <a href="#">Services</a>
                <a href="#">Projects</a>
                <a href="#">Blog</a>
                <a href="#">Careers</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms</a>
            </div>
            <div class="footer-col">
                <h3>Legal</h3>
                <div class="footer-line">
                    <label>Nca Number:</label>
                    <p>8394JHD327A</p>
                </div>
                <div class="footer-line">
                    <label>Business Hours:</label>
                    <p>Mon - Fri From 9AM - 5PM</p>
                </div>
            </div>
            <div class="footer-col">
                <h3>Social</h3>
                <div class="socials-container">
                    <a href="#" class="lni lni-facebook"></a>
                    <a href="#" class="lni lni-instagram"></a>
                    <a href="#" class="lni lni-x"></a>
                    <a href="#" class="lni lni-linkedin"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/scripts/nav.js"></script>
</body>
</html>