* {
    margin: 0%;
    padding: 0%;
    line-height: 1.4;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    background-color: var(--neutral-100);
}

/*  */
.hero-container {
    height: 100%;
    /* background: url('/static/Images/skyline4.jpg'), no-repeat; */
    background: url('/static/Images/skyline1.jpg'), no-repeat;
    background-size: cover;
    background-position: 0 0;
}

/*  */
.slider {
    width: 100%;
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 4rem;
    place-items: center;
    backdrop-filter: brightness(.8);
    /* background: var(--image-overlay); */
}
.slide_content p {
    color: #f7f7f7;
    /* color: white; */
}
/* .slider_row {
    width: 100%;
    position: relative;
    height: 100%;
    height: 100vh;
} */
.slider_row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 25%;
}
/*  */
.slider-actions {
    position: absolute;
    bottom: 10%;
    left: 8rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    display: none;
}
.slider-actions span {
    padding: 8px;
    font-size: var(--font-size-text);
}
.slider-actions span {
    color:  #333;
    font-size: 1.15rem;
    background-color: white;
}
/*  */


/* Stats Section */
.stats-section {
    width: 100%;
    padding: 4rem 4rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}
.stat-box {
    display: grid;
}
.stat-box h2 {
    margin-bottom: 0;
}
.stat-box p {
    text-wrap: nowrap;
    /* font-size: var(--font-size-sm); */
}
/*  */

/* About section */
.about-section {
    width: 100%;
    padding: 0 4rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    place-items: center;
}
.about-image {
    width: 100%;
    height: 100%;
    /* max-height: 70vh; */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 4rem;
}
.about-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom !important;
    border-radius: 8px;
}
.value-box {
    padding: 1rem;
    background-color: var(--brand-accent);
    border-radius: 8px;
}
.value-box:nth-child(2) {
    background: var(--gradient);
    /* background-color: var(--brand-primary); */
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}
.value-box .icon {
    padding: 8px;
    border-radius: 50%;
    background-color: var(--brand-primary);
    color: white;
    transform: rotate(-45deg);
}
.value-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.value-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.value-box h3, .value-box p {
    color: white;
}
/*  */

/* Services Section Alt */
.service-alt-section {
    width: 100%;
    padding: 4rem;
    display: grid;
    gap: 2rem;
    position: relative;
    /* background: var(--neutral-900); */
    background: linear-gradient(180deg, var(--neutral-100), white);
    /* background-color: var(--neutral-200); */
}
.service-alt-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
    z-index: 99;
}
#featuredSection > .service-alt-header {
    flex-direction: column;
    width: 60%;
    gap: 0;
}
/* #featuredSection .service-alt-header-col > h4,
#featuredSection .service-alt-header h2, */
#featuredSection .service-alt-header-col p {
    text-align: center;
    font-size: var(--font-size-h2) !important;
}

#featuredSection .service-alt-header-col {
    display: grid;
    place-items: center;
}
#featuredSection .service-alt-header-col:nth-child(1) h2 {
    display: grid;
    place-items: center;
    display: none;
}
.service-alt-header-col {
    width: 100%;
}
.service-alt-header-col h4 {
    /* background-color: white; */
    /* color: white; */
}
.service-alt-header-col h2 {
    margin-bottom: 0;
    /* color: white; */
}
.service-alt-header-col p {
    margin-bottom: 1rem;
    /* color: var(--neutral-200); */
}
.service-alt-body {
    width: 100%;
    background: url('/static/Images/skyline3.jpg'), no-repeat;
    background-position: 50% 10%;
    background-size: cover;
    height: 40rem;
    border-radius: 8px;
    /* background-attachment: fixed; */
    overflow: hidden;
}
#featuredSection > .service-alt-body {
    background: url('/static/Images/skyline3.jpg');
}
.service-alt-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0;
    padding-top: 4rem;
    background: var(--image-overlay);
    /* background-color: rgba(0, 0, 0, 0.158); */
    backdrop-filter: blur(25px) brightness(.8);
}
.service-alt-card {
    padding: 1rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.service_icon {
    width: fit-content;
    padding: 12px;
    font-size: var(--font-size-h1);
    color: white !important;
    background: var(--gradient);
    /* background-color: var(--brand-support); */
    border-radius: 50%;
    margin-bottom: 1rem;
}
.service-alt-card h3 {
    color: white;
}
.service-alt-card p {
    color: var(--neutral-100);
}
.service-alt-card .link {
    width: fit-content;
    color: var(--brand-primary);
    text-decoration: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: var(--brand-accent);
}
/*  */

/* Services Section */
.services-section {
    width: 100%;
    padding: 8rem 4rem 4rem;
    display: grid;
    place-items: center;
    position: relative;
    background-color: #f7f7f7;
}
.services-section > h2 {text-align: center;}
.services-section > p {
    text-align: center;
    width: 60%;
}
.service-container {
    width: 100%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
#featuredCont {
    grid-template-columns: 2fr 1fr 1fr;
}
.service-carousel {
    width: 100%;
}
.service-carousel > .service-box {
    width: 100%;
}
#featuredCont > .service-box {
    /* height: 70vh; */
    height: 20rem;
    transition: .4s ease;
}
.service-carousel > .service-box:hover {
    transform: rotate(0);
}
.service-box:hover
/* #featuredCont > .service-box:nth-last-child(1) */
{
    transform: rotate(-5deg);
}
.service-box {
    width: 100%;
    height: 20rem;
    /* height: 50vh; */
    background-size: cover;
    background-position: center !important;
    border-radius: 8px;
    overflow: hidden;
    transition: .4s ease;
}
.service-box:nth-child(1) {
    background: url('/static/Images/general_1.jpeg'), no-repeat;
}
#featuredCont .service-box:nth-child(1) {
    background: url('/static/Images/construction_image_15.jpeg'), no-repeat;
    background-position: top !important;
}
.service-box:nth-child(2) {
    background: url('/static/Images/c64473c7fc3ee33526d9e455b67bfee8.jpg'), no-repeat;
    background-position: top !important;
}
#featuredCont .service-box:nth-child(2) {
    background: url('/static/Images/mansion_3.jpeg'), no-repeat;
    background-position: top !important;
}
.service-box:nth-child(3) {
    background: url('/static/Images/mansion_2.jpeg'), no-repeat;
}
#featuredCont .service-box:nth-child(3) {
    background: url('/static/Images/villa_1.jpeg'), no-repeat;
    background-position: top !important;
}
.service-box:nth-child(4) {
    background: url('/static/Images/construction_image_10.jpeg'), no-repeat;
}
.service-box:nth-child(5) {
    background: url('/static/Images/construction_image_7.jpeg'), no-repeat;
}
.service-box-body {
    width: 100%;
    height: fit-content;
    background: var(--image-overlay) !important;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white !important;
    backdrop-filter: brightness(100%) !important;
}
.service-box-body p {
    color: white;
    display: none;
}
.service-box-body a {
    text-decoration: none;
    color: var(--brand-support);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0rem;
    border-radius: 8px;
    position: relative;
    font-weight: 500;
    padding: 12px 20px;
    background-color: var(--brand-accent);
}
.service-box-body a::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 30px;
    background-color: var(--brand-accent);
    display: none;
}
/*  */

/* Why Choose us section */
.qualities-section {
    width: 100%;
    padding: 4rem 4rem;
    display: flex;
    align-items: center;
    /* grid-template-columns: repeat(2, 1fr); */
    /* place-items: center; */
    gap: 4rem;
    background-color: white;
    position: relative;
}
/* BG Component */
h1.absoluteBg {
    font-size: var(--font-size-h1);
    text-wrap: nowrap;
    color: var(--neutral-200);
    position: absolute;
    /* z-index: -99; */
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    font-family: "Poppins-Medium";
}
.qualities-row h2 {
    width: 80%;
}
.qualities-row img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 8px;
    margin-bottom: 2rem;
}
.quality-row-box > p {
    margin-bottom: 1rem;
    /* color: white; */
}
.qualities-container {
    width: 100%;
    /* margin-top: 6rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    z-index: 99;
}
.quality-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-200);
    z-index: 2;
    border-radius: 8px;
}
.quality-box:nth-child(1) {
    /* transform: rotate(-5deg); */
    z-index: 1;
}
.icon {
    width: fit-content;
    line-height: normal !important;
    padding: 8px;
    border-radius: 50%;
    color: var(--brand-support);
    background-color: var(--brand-accent);
    /* background-color: var(--neutral-100); */
    margin-bottom: 1rem;
    font-size: var(--font-size-h3) !important;
}
.quality-box h3 {
    color: var(--brand-primary);
}
/*  */

/* Process Section */
.process-section {
    width: 100%;
    padding: 0 4rem 4rem;
    display: grid;
    background-color: white;
    /* background-color: var(--neutral-900); */
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(180deg, var(--neutral-900), #f7f7f7); */
}
.process-section .service-alt-header-col:nth-child(1) {
    width: 100% !important;
    flex: 2;
}
.process-section .service-alt-header-col:nth-child(2) {
    width: 100% !important;
    flex: 1;
}
.process-section h2
/* #featuredSection .service-alt-header-col h2  */
{
    font-size: 3.168rem;
    line-height: 1;
    font-weight: 580;
    /* color: var(--neutral-200); */
}
.process-section > p {
    /* color: white; */
    margin-bottom: 1rem;
}
.process-section button {
    width: fit-content;
}
.process-section::after {
    content: url('/static/Images/construction_image_3.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    object-fit: cover;
    object-position: bottom;
    z-index: -99;
    display: none;
}
.process-section > p {
    width: 60%;
}
.process-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.timeline-card {
    background-color: var(--neutral-100);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
}
/* .timeline-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding: 1rem;
    background: linear-gradient(135deg, white 10%, rgba(255, 255, 255, 0.702));
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0,0,0,0.1) 2px 4px 20px;
    transition: all .3s ease-in-out;
} */
/* .timeline-card:nth-child(3n) {
    margin-top: 2rem;
} */
.timeline-card:hover {
    /* transform: translateY(-10px); */
}
.timeline-card:hover p {
    /* color: white; */
}
.timeline-card::after {
    content: url('/static/Images/construction_image_10.jpeg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    object-fit: cover;
    object-position: bottom;
    z-index: -99;
    transition: all .3s ease;
    display: none;
}
.timeline-card:hover::after {
    filter: brightness(20%) sepia(60%) drop-shadow(rgba(0,0,0,0.4) 5px 8px 20px);
}
.timeline-card:nth-child(2)::after {
    content: url('/static/Images/construction_image_12.jpeg');
}
.timeline-card:nth-child(3)::after {
    content: url('/static/Images/construction_image_14.jpeg');
}
.timeline-card:nth-child(5)::after {
    content: url('/static/Images/construction_image_15.jpeg');
}
.timeline-card:nth-child(6)::after {
    content: url('/static/Images/construction_image_2.jpg');
}
.timeline-card h3 {
    color: var(--brand-primary);
    margin-top: 1rem;
}
.number-line {
    font-size: 3rem;
    /* font-size: var(--font-size-h1); */
    color: var(--neutral-900);
    font-weight: 600;
}
.timeline-card p b {
    color: var(--neutral-900);
}
.timeline-card p {
    transition: all .3s ease;
    /* color: white; */
}
.timeline-card p:nth-child(2) {
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
}
.deliverable-container {
    margin-top: 1rem;
    padding: 1rem;
    display: none;
    background-color: var(--neutral-100);
        /* background: var(--gradient); */
    /* background-color: var(--brand-support); */
    border-radius: 8px;
}
.deliverable-container p {
    /* color: white; */
    font-size: .8rem;
}
.deliverable-container p:nth-child(1) {
    margin-bottom: .5rem;
}
/*  */

/* Featured Section */
#featuredSection {
    background: linear-gradient(180deg, #f7f7f7, white);
}
.showcase-container {
    width: 100%;
    /* height: 35rem; */
    overflow: hidden;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.showcase-box {
    width: 100%;
    position: relative;
    height: 100%;
}
.showcase-box img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 8px;
    filter: brightness(.8);
}
.showcase-body {
    background-color: var(--neutral-100);
    /* background: var(--image-overlay); */
    width: 100%;
    /* position: absolute; */
    bottom: 1rem;
    left: 1rem;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    padding: 1rem;

}
.showcase-body .badge {
    color: white;
}
.showcase-body .link {
    width: fit-content;
    color: var(--brand-primary);
    text-decoration: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: var(--brand-accent);
}
.showcase-body h3, .showcase-body p {
    /* color: white; */
}
/*  */

/* Testimonial section */
.testimonial-section {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 0 4rem 4rem;
    background-color: white;
}
.testimonial-section > p {
    width: 50%;
    text-align: center;
}

.testimonial-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 4rem;
}
.testimonial-row {
    display: grid;
    gap: 1rem;
}
.testimonial-banner {
    /* width: 100%; */
    height: 30rem;
    overflow: hidden;
    display: block;
    border-radius: 8px;
    position: relative;
    /* z-index: 10; */
    /* background-color: #f7f7f724; */
    /* mix-blend-mode: overlay; */
}
.testimonial-banner img {
    width: 100%;
    height: 100%;
    filter: brightness(.9);
    object-fit: cover;
}
.testimonial-banner::after {
    content: url('/static/Images/general_1.jpeg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    object-fit: cover;
    object-position: bottom;
    z-index: 1;
    display: none;
}
.testimonial-banner-content {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #f7f7f7 30%, transparent);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1rem;
    text-align: center;
}
.testimonial-banner-content p {
    width: 100%;
}
.testimonial-card {
    padding: 1rem;
    border-radius: 8px;
    background-color: #f7f7f7;
    display: grid;
    gap: 1rem;
}
.testimonial-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-body h3 {
    margin-bottom: 0;
    font-weight: 400;
    font-family: "Poppins-Medium";
}